body {
    background-color: #ffffff;
}

main {
    margin: 0rem 5rem;
}

h1, h2 {
    font-family: "Roboto", sans-serif, regular;
    font-weight:500;
}

p, a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #bdbdbd;
}

link {
    text-decoration: none;
    font-family: "Roboto", sans-serif, regular;
    letter-spacing: 10px;
}
